.headcontainner{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.input{
    width: 250px;
    height: 30px;
    border-radius: 7px;
    background-color: rgba(245, 245, 220, 0.171);
    border: none;
}
.input::placeholder{
    color: #000000;
    padding-left: 20px;
}
.headcontainner3{
    display: flex;
    
    height: 40px;
    

}
.login,.signup,.cart{
    background-color: black;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    border: none;
    color: rgba(255,82,39,228);
    font-size: 30px;
}
